@import './variables';

.footer {
    padding: 2.5rem 0 2.5rem 0;
    background-color: $primary;
	color: white;

	&.rotated {
		transform: rotate(2deg);
		margin-left: -5%;
		width: 110%;
		height: 110%;
		.container {
			transform: rotate(-2deg);
		}
	}

	h3 {
		font-size: 18px;
		margin-bottom: 30px;
	}
	ul {
		li {
			margin-bottom: 10px;
		}
  	}
	a {
			color: lighten($secondary, 10%);
	}
	.copyright, .credits {
		font-size: 14px;
	}

}

.social {
	a {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: white;
		position: relative;
		text-align: center;
		transition: .3s background ease;
		color: #0d1e2d;
		span {
			display: inline-block;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			color: white;
			background: transparentize($color: white, $amount: 0.9);;
		}
	}
}