$mat-ksa-primary: (
    50 : #e4e7ec,
    100 : #bcc2ce,
    200 : #8f9aae,
    300 : #62718e,
    400 : #405275,
    500 : #1e345d,
    600 : #1a2f55,
    700 : #16274b,
    800 : #122141,
    900 : #0a1530,
    A100 : #6b8eff,
    A200 : #3867ff,
    A400 : #053fff,
    A700 : #0037eb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-ksa-accent: (
    50 : #ffeae3,
    100 : #ffc9b8,
    200 : #ffa689,
    300 : #ff825a,
    400 : #ff6736,
    500 : #ff4c13,
    600 : #ff4511,
    700 : #ff3c0e,
    800 : #ff330b,
    900 : #ff2406,
    A100 : #ffffff,
    A200 : #fff4f3,
    A400 : #ffc5c0,
    A700 : #ffaea7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-ksa-primary);
$accent: mat-palette($mat-ksa-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);