@import './variables';

#ksa-navbar {
    font-family: 'Roboto', sans-serif;
    // position: fixed;                   // Worst line of code ever
    letter-spacing: 0.05rem;
}

.ksa-nav-spacer {
    flex: 1 1 auto;
}

.ksa-nav-link {
    color: #ddd !important;
    letter-spacing: 0.08rem;

    mat-icon {
        margin: 0 6px 0 0;
    }

    &:hover {
      color: #eee !important;
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) scaleX(0);
      transform-origin: 50% 50%;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.8);
      transition: transform 250ms;
    }

    &:hover {
      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }

    &.ksa-nav-active {
      color: #fff !important;
      background-color: transparentize($color:  #fff, $amount: 0.9);
    }
}

.ksa-nav-logo {
    height: $navbar-height;

    &:hover {
      cursor: pointer;
    }
}